---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `# Clone the repository
git clone https://github.com/TheOtterlord/manual
# Navigate to the directory
cd manual
# Install dependencies
npm install
# Start the dev server
npm run dev`
---

<Layout title="Manual">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Documentation Portal</h1>
        <p class="text-2xl my-8">
          Build <b class="text-blue-600 dark:text-blue-400">robust</b>, <b class="text-blue-600 dark:text-blue-400">modern</b> documentation sites with the Manual theme.
        </p>
        <a href="/docs/get-started/introduction" class="inline-block bg-blue-700 hover:bg-blue-800 text-white text-lg font-bold py-2 px-4 rounded">
          GET STARTED
        </a>
      </div>
	</main>
</Layout>
